body {
  background-color: #ffe;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.header {
  margin: 10px 0;
}

.header a,
.header span {
  margin: 2px;
  font-size: 0.8em;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

.header a:hover {
  text-decoration: underline;
}

.comment {
  padding: 13px 8px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 10px;
  border: 3px solid #aaa;
  font-family: Helvetica, Arial, sans-serif;
  font-size; 16px;
  line-height: 1.3em;
  color: #333;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.comment--odd {
  background-color: #eff2ff;
}

.comment--even {
  background-color: #fcfcff;
}

.reply {
  font-size: 0.7em;
}

blockquote {
  color: darkblue;
  font-style: italic;
}
